Style

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.log img{
    IMG.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

form {
    max-width: 400px;
}

.welcome {
    color: #121212;
    font-size: 40px;
    margin: 0 auto 48px;
    text-align: center;
    font-weight: 400;
}

.sign-up {
    color: #121212;
    font-size: 24px;
    margin: 0 auto 32px;
    text-align: center;
    font-weight: 400;
}

.email {
    margin-bottom: 16px;
}

.password {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 16px;
    color: #61646b;
    margin-bottom: 4px;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #afb1b6;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}

button {
    font-family: 'Sansita', sans-serif;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.the-end {
    text-align: center;
    font-size: 16px;
    margin-top: 14px;
}